

/* Add these styles to your CSS file */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* This will distribute cards evenly horizontally */
  }
  
  .card {
    flex: 0 0 calc(33.33% - 20px); 
    margin-bottom: 20px; 
    border: 1px solid rgb(66, 9, 146);
    border-radius: 8px;
    background-color: rgb(227, 224, 224);
    box-shadow: 0 2px 4px rgb(251, 246, 246);
  }
  element.style {
    display: block;
    box-sizing: border-box;
    height: 250px;
    width: 250px;
  }
  
  .card-body {
    
    padding: 20px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 14px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .user {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    margin-left: 10px;
  }
  
  .user-image {
      width: 100px;
      height: 80px;
      background-color: rgb(244, 13, 13);
      border-radius: 45%;
      font-size: 45px;
      text-align: center;
      line-height: 1.5;
    }
    .circle {
      width: 100px; /* Adjust the width and height to set the circle size */
      height: 100px;
      border: 10px solid  #dd3636;; /* Border thickness and color */
      border-radius: 50%; /* Makes it a circle */
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px; /* Adjust font size as needed */
      font-weight: bold;
      color: #e11818; /* Text color */
    }
.circle-2{
    width: 100px; /* Adjust the width and height to set the circle size */
      height: 100px;
      border: 10px solid #3498db; /* Border thickness and color */
      border-radius: 50%; /* Makes it a circle */
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px; /* Adjust font size as needed */
      font-weight: bold;
      color:  #3498db;
}
.circle-3{
  width: 100px; 
    height: 100px;
    border: 10px solid #0ed03b; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; 
    font-weight: bold;
    color: #18e12c;
}
    
    .circle-content {
      position: relative;
      z-index: 1;
     
   padding: 10px; 
      border-radius: 50%;
    }
    
    

    
  


  
  