
<body>
    <div class="e-library-header">
        <span style="padding-right: 15px; padding-top: 60px;"><img  src="../../assets/el.jpg" alt="E-library Icon" class="e-library-icon"></span> 
         <h1 class="e-library-text">E-Library</h1>  
       </div>
       <div class="capgemni">
         <h1 style="padding-right: 15px;" class="powered-by">Powered by Capgemini</h1>
         <img src="../../assets/cap logo.jpg" alt="Cap-logo Icon" class="e-library-icon-2">
       </div>
    <div class="container">
        <h1 style="color:white">You have successfully Logged out, Thank You !​​ </h1>
        <h2 style="color:white">Go Back to Home page</h2>
        <button style="background-color:rgb(118, 189, 213)" type="button" (click)="home()">Home</button>
    </div>
</body>


